<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="post">
      <div>
        <label for="fullname">Full name:</label>
        <input
          type="text"
          value="<%= locals.user ? user.fullname : '' %>"
          name="fullname"
          required
          id="fullname"
        />
      </div>
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          value="<%= locals.user ? user.email : '' %>"
          required
        />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <div>
        <label for="repeat-password">Repeat password:</label>
        <input
          type="password"
          name="repeat-password"
          id="repeat-password"
          required
        />
      </div>
      <button>Create account</button>
    </form>
  </body>
</html>
